.msg-modal-content {
  width: 30%;
  height: 25%;
  gap: 10%;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 50%;
  padding: 5% 0;
}

.popup-icon {
  padding: 1%;
  width: 20%;
}

.popup-message {
  padding: 1%;
  max-width: 80%;
}

.action-btn {
  min-width: 25%;
  padding: 2% 4%;
  height: 40%;
  cursor: pointer;

  font-weight: 700;
  color: var(--clr-secondary);
}

.action-btn:hover {
  background-color: #afafaf;
  border: none;
  box-shadow: 1px 1px 1px var(--txt-clr-tertiary);
}
