@import "./partials/createCollectionModal.css";
@import "./partials/addBookToCollectionModal.css";
@import "./partials/collections.css";

.search-bar {
  margin-top: 60px;
}

.search-bar {
  flex-direction: column;
  gap: 40px;
}

.user-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user-options .options-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 720px) {
  .user-options .options-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .btn-wired {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .btn-wired {
    width: 100%;
  }
}
